POSTGRES_DB=datashare
POSTGRES_USER=datashare
POSTGRES_PASSWORD=change_me

GARAGE_ACCESS_KEY=change_me
GARAGE_SECRET_KEY=change_me
GARAGE_BUCKET=datashare-files
GARAGE_S3_ENDPOINT=http://localhost:3900
